.payment-nav-container{
    width: 100%;
    height: 90px;
    background: linear-gradient(35deg, rgba(0,0,0,.5), rgba(0,0,0,.5));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1;
    
}

.payment-nav-container .logo{
    width: 50px;
}

.payment-nav-container .logo img{
    border-radius: 50%;
    transition: .3s;
}

.image{
    width: 150px;
    height: 100px;
}

.title{
    font-size: 1.3rem;   
    margin: 10vh 0 3vh;
}

.cart-container{
    grid-area: cart-container;
    text-align: center;
}

.cart-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    height: 56%;
    overflow: auto;
}

.cart-items::-webkit-scrollbar{
    background-color: transparent;
}

.cart-items .item-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.item-container .product-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container .cart-image{
    width: 80px;
    height: 90px;
    border-radius: 5px;
}

.item-container button{
    padding: 0 15px;
    border-radius: 5px;
    border: none;
    background: red;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

.payment-container{
    grid-area: payment-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.payment-container .box-container{
    display: flex;
    flex-wrap: wrap;
}

.payment-container .payment-box{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.payment-home .full-summary{
    grid-area: full-summary;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 10vh;
}

.payment-home .full-summary button{
    border-radius: 5px;
    border: none;
    background: #C9AF00;
    padding: 10px;
    cursor: pointer;
    transition: .5s;
    outline: none;
}

.payment-home .full-summary button:hover{
    box-shadow: 0 0 10px;
}

/* MEDIA QUERY */
@media(min-width: 1300px){
    .payment-home{
        display: grid;
        grid-template-areas: 
            'cart-container     payment-container'
            'full-summary       full-summary'
        ;
        grid-template-columns: .8fr  1fr;
        grid-template-rows: 50vh 15vh;
    }
}

@media(max-width: 475px){
    .payment-home .full-summary{
        font-size: 1.5rem
    }

    .payment-home .full-summary button{
        padding: 5px;
    }
}

@media(max-width: 380px){
    .payment-container .box-container{
        justify-content: center;
    }    
}

@media(max-width: 355px){
    .payment-home .full-summary{
        flex-direction: column;
    }
}